<li class="table-entry-header" entry_id="{{ id }}">
  <div class="table-entry-color" style="background-color: {{ color }}"></div>
  <div class="table-entry-info">
    <p class="game">{{ gameName }}</p>
    <p class="device">{{ device }}</p>
    <p class="build">{{ build }}</p>
  </div>
</li>